version: 2.1

orbs:
  architect: giantswarm/architect@6.9.0

workflows:
  build:
    jobs:
      - architect/push-to-app-catalog:
          name: push-to-default-catalog
          context: architect
          executor: app-build-suite
          chart: vertical-pod-autoscaler-crd
          app_catalog: default-catalog
          app_catalog_test: default-test-catalog
          filters:
            tags:
              only: /^v.*/

      - architect/push-to-app-catalog:
          name: push-to-control-plane-catalog
          context: architect
          executor: app-build-suite
          chart: vertical-pod-autoscaler-crd
          app_catalog: control-plane-catalog
          app_catalog_test: control-plane-test-catalog
          filters:
            tags:
              only: /^v.*/
